<body class="list">
<br>
<br>
<br>
<br>
<br>
<div *ngIf="job" class="jobs" >

    <h2 class="entry">{{job.jobtitle | uppercase}}</h2>
    <div class="entry"><span><b>Job ID:</b>&nbsp;</span>{{job.jobid}}</div> <br>
    <div class="entry"><span><b>Job Type:</b>&nbsp;</span>{{job.jobtype}}</div> <br>
    <div class="entry"><span><b>Time Posted:</b>&nbsp;</span>{{job.time}}</div> <br>
    <div class="entry"><span><b>Description:</b>&nbsp;</span> <br> {{job.jobdescription}}</div> <br>
    <button class="button" mat-raised-button (click)="openDialog()">Apply</button>
</div>
<br>
<br>
<br>
</body>
