<!-- Start Featured Slider -->

	<section id="mu-featured-slider">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-featured-slide">

					<!-- Start Single slide -->
					<div >
						<img src="assets/images/slider-img-1.jpg">
						<div class="mu-featured-slider-content">
							<h1>WELCOME TO JOBSTORM</h1>
							<p>JobStorm works when talented, passionate people come together. Come help JobStorm work. We are looking to grow our teams with people who share our energy and enthusiasm for creating the best experience for job seekers.</p>
						</div>
					</div>
					<!-- End Single slide -->


				</div>
			</div>			
		</div>
	</section>
	
	<!-- Start Featured Slider -->

	<!-- Start main content -->
		
	<main role="main">

		<!-- Start About -->
		<section id="mu-about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-about-area">


							<div class="mu-about-header">
								<h2 class="mu-heading-title">ABOUT <span>US</span></h2>
								<span class="mu-header-dot"></span>
								<p>JobStorm is the #1 job site in the world with over 250 million unique visitors every month. JobStorm strives to put job seekers first, giving them free access to search for jobs, post resumes, and research companies. Every day, we connect millions of people to new opportunities.</p>
							</div>

							<!-- Start About Us Content -->
							<div class="mu-about-content">
								<div class="row">

									<!-- About Us Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-about-content-single">
											<span class="mu-about-icon-box">
												<i class="icon-puzzle"></i>
											</span>
											<h4>Best Careers</h4>
											<p>What are the best careers for the future? How will everything change? Is it possible to prepare for the jobs of tomorrow-today?</p>
										</div>
									</div>
									<!-- / About Us Single Content -->

									<!-- About Us Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-about-content-single">
											<span class="mu-about-icon-box">
												<i class="icon-settings"></i>
											</span>
											<h4>Great Features</h4>
											<p>Quality Web Content.Clear, User-friendly Navigation.Simple and Professional. Typography & Readability. Mobile compatibility.</p>
										</div>
									</div>
									<!-- / About Us Single Content -->

									<!-- About Us Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-about-content-single">
											<span class="mu-about-icon-box">
												<i class="icon-screen-tablet"></i>
											</span>
											<h4>Best Support</h4>
											<p>Get support when you need it. With our 24x7 Managed Help Desk option, we're always available to our clients.</p>
										</div>
									</div>
									<!-- / About Us Single Content -->

									<!-- About Us Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-about-content-single">
											<span class="mu-about-icon-box">
												<i class="icon-docs"></i>
											</span>
											<h4>Build Resume</h4>
											<p>Pick a free resume template from our wide selection of formatted resume templates. Fill in the blanks to fill out your resume.</p>
										</div>
									</div>
									<!-- / About Us Single Content -->

								</div>
							</div>
							<!-- End About Us Content -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End About -->

		<!-- Start Counter -->
		<section id="mu-counter">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-counter-area">
							<h2 class="mu-heading-title">SOME FACTS ABOUT US</h2>

							<div class="mu-counter-block">
								<div class="row">

									<!-- Start Single Counter -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-single-counter">
											<i class="icon-like"></i>
											<div class="counter-value" data-count="75000">0</div>
											<h5 class="mu-counter-name">Jobs Posted</h5>
										</div>
									</div>
									<!-- / Single Counter -->

									<!-- Start Single Counter -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-single-counter">
											<i class="icon-emotsmile"></i>
											<div class="counter-value" data-count="5600">0</div>
											<h5 class="mu-counter-name">Happy Clients</h5>
										</div>
									</div>
									<!-- / Single Counter -->

									<!-- Start Single Counter -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-single-counter">
											<i class="icon-cup"></i>
											<div class="counter-value" data-count="1555">0</div>
											<h5 class="mu-counter-name">Cups Consumed</h5>
										</div>
									</div>
									<!-- / Single Counter -->

									<!-- Start Single Counter -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-single-counter">
											<i class="icon-trophy"></i>
											<div class="counter-value" data-count="10">0</div>
											<h5 class="mu-counter-name">Got Awards</h5>
										</div>
									</div>
									<!-- / Single Counter -->

								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Counter -->

		<!-- Start Service -->
		<section id="mu-service">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-service-area">

							<div class="mu-service-header">
								<h2 class="mu-heading-title">OUR <span>SERVICES</span></h2>
								<span class="mu-header-dot"></span>
								<p>At JobStorm, our mission is to help people get jobs. We have more than 7,400 global employees passionately pursuing this purpose and improving the recruitment journey through real stories and data. We foster a collaborative workplace that strives to create the best experience for job seekers. We help clients find their dream job. We also help cliets develop their profile like helping them building their resume and many more profile building services ,help them in gaining perticular set of skills that will help them in getting their dream job.</p>
							</div>

							<!-- Start Service Content -->
							<div class="mu-service-content">
							<h2 class="mu-heading-title">SOUGHT OUT PROFESSIONALS BY OUR <span>CLIENTS</span></h2>

								<div class="row">
								
									<!-- Service Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-service-content-single">
											<span class="mu-service-icon-box">
												<i class="icon-vector"></i>
											</span>
											<h4>UI/UX Designer</h4>
											<p>UX design refers to user experience design, while UI design stands for user interface design.</p>
										</div>
									</div>
									<!-- / Service Single Content -->

									<!-- Service Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-service-content-single">
											<span class="mu-service-icon-box">
												<i class="icon-screen-desktop"></i>
											</span>
											<h4>Web Developer</h4>
											<p>The role is responsible for designing, coding and modifying websites according to a client's specifications.</p>
										</div>
									</div>
									<!-- / Service Single Content -->

									<!-- Service Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-service-content-single">
											<span class="mu-service-icon-box">
												<i class="icon-briefcase"></i>
											</span>
											<h4>Branding Expert</h4>
											<p>Branding consultants provide analysis, solutions, and help companies successfully sell their products.</p>
										</div>
									</div>
									<!-- / Service Single Content -->

									<!-- Service Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-service-content-single">
											<span class="mu-service-icon-box">
												<i class="icon-screen-tablet"></i>
											</span>
											<h4>Layout Designer</h4>
											<p>Layout artists are responsible for communicating a cohesive visual design in print or on a web page.</p>
										</div>
									</div>
									<!-- / Service Single Content -->

									<!-- Service Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-service-content-single">
											<span class="mu-service-icon-box">
												<i class="icon-screen-smartphone"></i>
											</span>
											<h4>Mobile Application Developer</h4>
											<p>Create specific applications which utilize the individual characteristics of a particular mobile technology.</p>
										</div>
									</div>
									<!-- / Service Single Content -->

									<!-- Service Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-service-content-single">
											<span class="mu-service-icon-box">
												<i class="icon-graph"></i>
											</span>
											<h4>Digital Marketing Professional</h4>
											<p>Lorem ipsum dolor sit amet, consect adipis elit minim veniam ettis inkeras.</p>
										</div>
									</div>
									<!-- / Service Single Content -->

									<!-- Service Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-service-content-single">
											<span class="mu-service-icon-box">
												<i class="icon-camrecorder"></i>
											</span>
											<h4>CGI and VFX Professional</h4>
											<p>Lorem ipsum dolor sit amet, consect adipis elit minim veniam ettis inkeras.</p>
										</div>
									</div>
									<!-- / Service Single Content -->

									<!-- Service Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-service-content-single">
											<span class="mu-service-icon-box">
												<i class="icon-people"></i>
											</span>
											<h4>24/7 Support Specialist</h4>
											<p>Lorem ipsum dolor sit amet, consect adipis elit minim veniam ettis inkeras.</p>
										</div>
									</div>
									<!-- / Service Single Content -->

								</div>
							</div>
							<!-- End Service Content -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Service -->

		<!-- Start Portfolio -->
		<section id="mu-portfolio">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-portfolio-area">

							<div class="mu-portfolio-header">
								<h2 class="mu-heading-title">OUR <span>PORTFOLIO</span></h2>
								<span class="mu-header-dot"></span>
								<p>At JobStorm, our mission is to help people get jobs. We have more than 7,400 global employees passionately pursuing this purpose and improving the recruitment journey through real stories and data. We foster a collaborative workplace that strives to create the best experience for job seekers.</p>
							</div>


							<!-- Start Portfolio Content -->
							<div class="mu-portfolio-content">
								<div class="filtr-container">

					                <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="1">
					                   <a class="mu-imglink" href="assets/images/portfolio/img-1.jpeg" title="Web Development">
						                   	<img class="img-responsive" src="assets/images/portfolio/img-1.jpg" alt="image">
						                   	<div class="mu-filter-item-content">
						                    	<h4 class="mu-filter-item-title">WEB DEVELOPER</h4>
						                    </div>
					                   </a>
					                </div>

					                <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="2">
					                    <a class="mu-imglink" href="assets/images/portfolio/img-2.jpg" title="UI/UX DESIGN">
					                    	<img class="img-responsive" src="assets/images/portfolio/img-2.jpg" alt="image">
						                    <div class="mu-filter-item-content">
						                    	<h4 class="mu-filter-item-title">UI/UX DESIGNER</h4>
						                    </div>
					                    </a>
					                </div>

					                <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3">
					                    <a class="mu-imglink" href="assets/images/portfolio/img-3.jpeg" title="GRAPHICS DESIGN">
					                    	<img class="img-responsive" src="assets/images/portfolio/img-3.jpeg" alt="image">
						                    <div class="mu-filter-item-content">
						                    	<h4 class="mu-filter-item-title">GRAPHICS DESIGNER</h4>
						                    </div>
					                    </a>
					                </div>

					                <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="4">
					                    <a class="mu-imglink" href="assets/images/portfolio/img-4.jpeg" title="MOBILE APP">
					                    	<img class="img-responsive" src="assets/images/portfolio/img-4.jpg" alt="image">
						                    <div class="mu-filter-item-content">
						                    	<h4 class="mu-filter-item-title">MOBILE APP DEVELOPER</h4>
						                    </div>
					                    </a>
					                </div>
					                <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="5">
					                    <a class="mu-imglink" href="assets/images/portfolio/img-5.jpeg" title="BRANDING">
					                    	<img class="img-responsive" src="assets/images/portfolio/img-5.png" alt="image">
						                    <div class="mu-filter-item-content">
						                    	 <h4 class="mu-filter-item-title">BRANDING EXPERT</h4>
						                    </div>
					                    </a>
					                </div>

					                <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="6">
					                   <a class="mu-imglink" href="assets/images/portfolio/img-6.jpeg" title="MARKETING">
						                   	<img class="img-responsive" src="assets/images/portfolio/img-6.jpeg" alt="image">
						                    <div class="mu-filter-item-content">
						                    	<h4 class="mu-filter-item-title">MARKETING PROFESSIONAL</h4>
						                    </div>
						                </a>
					                </div>

					                <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="1">
					                   <a class="mu-imglink" href="assets/images/portfolio/img-7.jpg" title="WEB DEVELOPMENT">
						                   	<img class="img-responsive" src="assets/images/portfolio/img-7.jpg" alt="image">
						                    <div class="mu-filter-item-content">
						                    	<h4 class="mu-filter-item-title">CGI AND VFX PROFESSIONAL</h4>
						                    </div>
					                   </a>
					                </div>

					                <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="4">
					                    <a class="mu-imglink" href="assets/images/portfolio/img-8.jpg" title="MOBILE APP">
					                    	<img class="img-responsive" src="assets/images/portfolio/img-8.jpg" alt="image">
						                    <div class="mu-filter-item-content">
						                    	<h4 class="mu-filter-item-title">24/7 SUPPORT</h4>
						                    </div>
					                    </a>
					                </div>

					                <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3">
					                    <a class="mu-imglink" href="assets/images/portfolio/img-9.jpg" title="GRAPHICS DESIGN">
					                    	<img class="img-responsive" src="assets/images/portfolio/img-9.jpg" alt="image">
						                    <div class="mu-filter-item-content">
						                    	<h4 class="mu-filter-item-title">PHOTOGRAPHER</h4>
						                    </div>
					                    </a>
					                </div>

					            </div>
							</div>
							<!-- End Portfolio Content -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Portfolio -->

		<!-- Start Team -->
		<section id="mu-team">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-team-area">

							<div class="mu-team-header">
								<h2 class="mu-heading-title" style="color:#ecf0f1;">OUR <span>TEAM</span></h2>
								<span class="mu-header-dot"></span>
								<p style="color:#ecf0f1;">Each member of our team is a specialist in his or her field. Together, we make sure you’re investing where the best returns are, while building loyalty across every touchpoint.</p>
							</div>

							<!-- Start Team Content -->
							<div class="mu-team-content">
								<div class="row">

									<!-- Team Single Content -->
									<div class="col-sm-6 col-md-4">
										<div class="mu-team-content-single">
											<div class="mu-team-profile">
												<img src="assets/images/team-member-1.jpg" alt="team member">
												<div class="mu-team-social-info">
													<a href="#"><i class="icon-social-facebook"></i></a>
													<a href="#"><i class="icon-social-twitter"></i></a>
													<a href="#"><i class="icon-social-linkedin"></i></a>
												</div>
											</div>
											<div class="mu-team-info">
												<h4>Srikanth Reddy</h4>
												<span>Director</span>
											</div>
											
										</div>
									</div>
									<!-- / Team Single Content -->

									<!-- Service Single Content -->
									<div class="col-sm-6 col-md-4">
										<div class="mu-team-content-single">
											<div class="mu-team-profile">
												<img src="assets/images/team-member-2.png" alt="team member">
												<div class="mu-team-social-info">
													<a href="#"><i class="icon-social-facebook"></i></a>
													<a href="#"><i class="icon-social-twitter"></i></a>
													<a href="#"><i class="icon-social-linkedin"></i></a>
												</div>
											</div>
											<div class="mu-team-info">
												<h4>Nishanth .M</h4>
												<span>Web Developer</span>
											</div>
										</div>
									</div>
									<!-- / Service Single Content -->

									<!-- Service Single Content -->
									<div class="col-sm-6 col-md-4">
										<div class="mu-team-content-single">
											<div class="mu-team-profile">
												<img src="assets/images/team-member-3.jpg" alt="team member">
												<div class="mu-team-social-info">
													<a href="#"><i class="icon-social-facebook"></i></a>
													<a href="#"><i class="icon-social-twitter"></i></a>
													<a href="#"><i class="icon-social-linkedin"></i></a>
												</div>
											</div>
											<div class="mu-team-info">
												<h4>Sujay Joshi</h4>
												<span>CEO</span>
											</div>
										</div>
									</div>
									<!-- / Service Single Content -->

									<!-- Team Single Content -->
									<div class="col-sm-6 col-md-4">
										<div class="mu-team-content-single">
											<div class="mu-team-profile">
												<img src="assets/images/team-member-4.jpg" alt="team member">
												<div class="mu-team-social-info">
													<a href="#"><i class="icon-social-facebook"></i></a>
													<a href="#"><i class="icon-social-twitter"></i></a>
													<a href="#"><i class="icon-social-linkedin"></i></a>
												</div>
											</div>
											<div class="mu-team-info">
												<h4>Ivan Fernando</h4>
												<span>CMD</span>
											</div>
											
										</div>
									</div>
									<!-- / Team Single Content -->
								</div>
							</div>
							<!-- End Team Content -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Team -->
		
		<!-- Start Clients -->
		<section id="mu-clients">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-clients-area">

							<div class="mu-clients-header">
								<h2 class="mu-heading-title">OUR <span>CLIENTS</span></h2>
								<span class="mu-header-dot"></span>
								<p>Our client list speaks for itself. Since our earliest days, we’ve represented everything from start-ups to Fortune 500 companies with that same partnership approach and dedication at the core of every engagement. Every day, since 1996, we’ve been devoting our hearts and minds to our clients, achieving great successes and building lasting relationships.</p>
							</div>

							<!-- Start Clients Content -->
							<div class="mu-clients-content">
								<div class="row">

									<!-- Client Single Content -->
									<div class="col-sm-6 col-md-2">
										<div class="mu-clients-content-single">
											<img src="assets/images/client-logo-1.png" alt="brand image">
										</div>
									</div>
									<!-- / Client Single Content -->

									<!-- Client Single Content -->
									<div class="col-sm-6 col-md-2">
										<div class="mu-clients-content-single">
											<img src="assets/images/client-logo-2.png" alt="brand image">
										</div>
									</div>
									<!-- / Client Single Content -->

									<!-- Client Single Content -->
									<div class="col-sm-6 col-md-2">
										<div class="mu-clients-content-single">
											<img src="assets/images/client-logo-3.png" alt="brand image">
										</div>
									</div>
									<!-- / Client Single Content -->

									<!-- Client Single Content -->
									<div class="col-sm-6 col-md-2">
										<div class="mu-clients-content-single">
											<img src="assets/images/client-logo-5.png" alt="brand image">
										</div>
									</div>
									<!-- / Client Single Content -->

									<!-- Client Single Content -->
									<div class="col-sm-6 col-md-2">
										<div class="mu-clients-content-single">
											<img src="assets/images/client-logo-4.png" alt="brand image">
										</div>
									</div>
									<!-- / Client Single Content -->

									<!-- Client Single Content -->
									<div class="col-sm-6 col-md-2">
										<div class="mu-clients-content-single">
											<img src="assets/images/client-logo-6.png" alt="brand image">
										</div>
									</div>
									<!-- / Client Single Content -->

								</div>
							</div>
							<!-- End Clients Content -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Clients -->
</main>