
<h3>Delete Job</h3>


<div class="addJobs">
<form action="/delete" method="POST">
    <div class="form-row">
        <!--Enter the JobID to be deleted-->
        <div class="form-group col-md-6">
            <label for="jobid">Job ID</label>
            <input type="number" class="form-control" name="jobid" id="jobid" placeholder="Job ID" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Delete Job</button>
</form>
</div>