@import "variables.scss";
h3{
  @extend %req-padding;
  @include border-bottom(solid,black,2px);
  margin-top:65px !important ;
  text-align: center;
}

.addJobs{
  margin-left: 33%;
  @extend %req-padding;
  //@extend %divs-color;
}

