<body style="background-color: rgba(0,0,0,0.8);">
<br>
<br>
<br>
<br>
<br>
<h3>LOGIN</h3>
<br>
<img src="assets/images/login.png">
<br>
<br>
<!--  Login Form for applicants login -->
<form [formGroup]="loginForm" (ngSubmit)="login()" class="form">

  <label class="name">Username:</label>&nbsp;

<!-- Input text for username -->  <input type="text" formControlName='username'/>
  <br/><br/>
  <div *ngIf=" (loginForm.controls.username.errors != null)">
  <!-- Validation for username -->  <div *ngIf="(loginForm.controls.username.errors.required)">
      <p>Username is required</p>
    </div>
    <!-- Validation for email formatting --><div *ngIf="(loginForm.controls.username.errors.email)">
      <p>Invalid email format</p>
    </div>
  </div>
  <!-- Input for password type --><label class="name">Password:</label>&nbsp;&nbsp;
  <input type="password" formControlName='password'/>
  <br/><br/>
  <!-- Validation message for password --><div *ngIf=" (loginForm.controls.password.errors != null)">
    <!-- Validation message for password --><div *ngIf="(loginForm.controls.password.errors.required)">
      <p>Password is required</p>
    </div>
  </div>
  <br/>
  <!-- Button for login with disabled property enabled -->
  <button class="button" type="submit" [disabled]="loginForm.status.toLowerCase() === 'invalid'">Login</button>
</form>
<!---orginal-->
<br>
<br>
</body>